{%load static%}
<!DOCTYPE html>
<html>
<head>
<title>Alexis Segovia's Resume</title>

<meta name="viewport" content="width=device-width"/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{%static 'css/style.css'%}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
	
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Alexis Segovia</h1>
			<h2 class="quickFade delayThree">Web Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>Email: 7segoviaalexis@gmail.com</a></li>
				<li>Website: github.com/424al <a Github.com/424al</a></li>
				<li>Phone: (909)746-1475</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Hello, I am Alexis Segovia and I am a Web Developer from Southern California and my current stack to bring projects to life are Django, Javascript, Bootstrap and HTML/CSS. My preference when it comes to web developing is working the backend. On my free time I like to grab a cup of coffee and skateboardings.
					</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
				
					<h2>Web Development</h2>
					<p class="subDetails">January 2019 - Present (This information comes from a database)</p>
					<p><!-- -Built the front and backend to <a href="https://localcoffeecups.com/">www.localcoffeecups.com.</a><br>
						- Worked the backend of <a href="https://bescoutednow.com/">https://bescoutednow.com/ with a team.</a>.<br>
						-This Website -->
						{%for jobs in job%}
						-{{jobs.jobs}} <a href="{{jobs.site}}">{{jobs.tag}}</a><br>
						{%endfor%}

					</p>
				</article>

					<h2>Fedex Freight - Dockworker</h2>
					<p class="subDetails">April 2019 - Present</p>
					<p>As a dockworker for Fedex Frieght my responsibilities are to unload freight from incoming trailers, scan them out using their software, check for any damages/shortages/etc., take the freight to the assigned trailer using a forklift and scan it in within a timely manner.</p>
				</article>
				
				<article>
					<h2>Stater Bros Markets - Clerk/CSR</h2>
					<p class="subDetails">Janruary 2017 - April 2019</p>
					<p>-Help out customers by ringing up their groceries<br>

						-Order items that are missing from the dairy department<br>

						-Manage the front end of the store and make sure the lines are short<br>

						-Build displays<br>

					-Handle various forms of payments such as Cash, Checks, WIC, Debit/Credit Cards.<br>

(Promoted 3 Times from Courtesy Clerk, General Merchandise Clerk, Front End Clerk to CSR)</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Django</li>
					<li>PostgreSQL</li>
					<li>Java</li>
					<li>HTML/CSS</li>
					<li>Team Player</li>

				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Riverside City College</h2>
					<p class="subDetails">August 2017 - Present</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
</body>
</html>