{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/9e3fe34478.js" crossorigin="anonymous"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Alex's Web Solutions</title>

  <!-- Custom fonts for this theme -->
  <link href={%static '"vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css'%}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{%static 'css/freelancer.css'%}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Alexis's Web Solutions</a>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <!-- <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href=""></a>
          </li> -->
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/resume">Resume</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Avatar Image -->
      <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
          <style>
        img {
       border-radius: 50%;
                      }
            </style>
        </head>
            <body>

    <img src="{%static 'img/face.JPG'%}" alt="Avatar" style="width:200px">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0">Alexis Segovia</h1>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
       
      

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0">Web Developer - Web Designer - Consultant</p>

    </div>
  </header>

  <!-- about Section -->
  <section class="page-section about" id="about">
    <div class="container">

      <!-- about Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">About Me</h2>

      <!-- Icon Divider -->
      <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
        <i class="fab fa-python"></i> <i class="fab fa-js-square"></i><i class="fab fa-html5"></i><i class="fab fa-css3-alt"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- about items -->
        <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead">Hello world and thanks for visiting my website. I am Alexis Segovia and I am a Web Developer from Southern California. I have been developing for around 2 years and been loving every second of it. It all started with my introductory C++ course in my freshman year of college. 
          </p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead">I currently use a Django Stack that includes JavaScript and HTML/CSS to bring client's idea's to life. For any other technical inquiries, please feel free to contact me.
            <br>
            
          </p>



</p>
      </div>
        </div>
      <!-- /.row -->

    </div>
  </section>

  <!-- contact Section -->
  <section class="page-section bg-primary text-white mb-0" id="contact">
    <div class="container">

      <!-- contact Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">Contact Me</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
     <i class="far fa-envelope"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- contact Section Content -->
      <style type="text/css">
        a{
          font-size: medium;
        }
      </style>
    <div class="aa">
        <div class="aa">
          <p  class="text-center  lg-4"><font size="5">If you'd like to get in contact with me, reach me at 7SegoviaAlexis@gmail.com. </font>
          </p>
        </div>
  </section>

  

  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Location:</h4>
          <p class="lead mb-0">Rialto, California
            <br>92376</p>
        </div>

        <!-- Footer Social Icons -->
        <div class="col-lg-4 mb-5 mb-lg-0">
          <h4 class="text-uppercase mb-4">Follow Me</h4>
          <a class="" href="https://www.instagram.com/asegweb/"><i class="fa-3x fab fa-instagram"></i></a> 
        
        </div>

        <!-- Footer About Text -->
        <div class="col-lg-4">
          <h4 class="text-uppercase mb-4">Favorite Quote </h4>
          <p class="lead mb-0">"It does not matter how slowly you go so long as you do not stop."<br>
            - Confucius
</p>
        </div>

      </div>
    </div>
  </footer>

  <!-- Copyright Section -->
  <section class="copyright py-4 text-center text-white">
    <div class="container">
      <small>Copyright &copy; Asegweb 2019</small>
    </div>
  </section>

  <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
  <div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js'%}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'js/jqBootstrapValidation.js'%}"></script>
  <script src="{% static 'js/contact_me.js'%}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/freelancer.min.js'%}"></script>

</body>

</html>
